version: "3.8"
services:
  react-app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development

  # spring-boot-app:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8081:8080"

  spring-boot-app:
    build:
      context: ./test
      dockerfile: Dockerfile
    ports:
      - "8080:80"